# Python / FastAPI
backend/venv/
backend/__pycache__/
backend/*.py[cod]
backend/.env
backend/tmp/
backend/*.log

# Node / React
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.DS_Store
frontend/package-lock.json
frontend/yarn.lock
frontend/.parcel-cache/
frontend/build/
frontend/logs/
frontend/.next/
frontend/autoprefixer.config.js

# VSCode / IDE / OS
.vscode/
.idea/
.DS_Store

# General
*.log
*.swp
*.tmp

# Dependencies
node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# Misc
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*